---
---

<div class="relative z-10 -mt-14 flex justify-center px-4 pointer-events-none">
  <img
    src="/10-years-logo-compressed.png"
    alt="Más de 10 años de experiencia"
    class="w-28 h-28 object-contain drop-shadow-lg"
    loading="lazy"
  />
</div>
